<html>
</!DOCTYPE html>
<html>
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
	<body>
		<!--NAVBAR-->
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			<div class="container-fluid">
				<a class="navbar-brand text-light" href="#">Kelompok 6 Sismul</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ">
					</div>
				</div>
			</div>
		</nav>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col md-12 text-center">
					<h1 class="text-warning">UAS KELOMPOK 6 SISMUL</h1>
					<h4 class="text-dark">Image Compression Dengan Algoritma K-Means</h4>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col md-12 text-center">
					<div class="card">
					  <div class="card-body">
					    <h3 class="text-info">Anggota {{file}}</h3>
					    <h4 class="text-dark">Kelas B</h4>
					    <br>
						    <div class="col">
						    	<h5 class="text-dark">1177050107 <b>Siti Lutfia</b></h5>
						    </div>
						    <div class="col">
						    	<h5 class="text-dark">1177050026 <b>Dadan</b></h5>
						    </div>
						    <div class="col">
						    	<h5 class="text-dark">1177050100 <b>Riki Ahmad Maulana</b></h5>
						    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col md-12 text-center">
					<img id="img" src="static/{{foto}}" class="img-thumbnail" alt="..." width="300">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col md-12 text-center">
					<button class="btn btn-danger">Sesudah Compression</button>
					<p id="fp"></p>
				</div>
			</div>
		</div>
			<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    <script type="text/javascript">

	    	

	      $(document).ready(function(){
	      	img.onload = e => {
			  fetch(img.src).then(resp => resp.blob())
			  .then(blob => {
			    alert(blob.size / 1024 + " KB," + "Compression Berhasil !");
			    document.getElementById('fp').innerHTML =
	                    document.getElementById('fp').innerHTML + '<br /> ' +
	                        '<b>' + Math.round((blob.size / 1024)) + '</b> KB';
			    });
			  };

	      });

	      img.onload = e => {
			  fetch(img.src).then(resp => resp.blob())
			  .then(blob => {
			    alert(blob.size / 1024 + " KB," + "Compression Berhasil !");
			    document.getElementById('fp').innerHTML =
	                    document.getElementById('fp').innerHTML + '<br /> ' +
	                        '<b>' + Math.round((blob.size / 1024)) + '</b> KB';
			    });
			  };
		</script>
	</body>
	<br>
	<br>

	<footer class="bg-info">
		<div class="container text-center">
			<h1>UAS SISMUL</h1>
		</div>
	</footer>
</html>